.footer
    width 100%
    margin 2rem 0
    text-align center
    div
        flex_between()
        flex-wrap wrap
        padding 0 1.5rem
    h6, a
        font-family font_one
        font-size (font_size_one + .5rem)
        color color_two
        padding 1rem