.header
	h1
		font-family font_one
		font-weight 700
		color color_two
.header_logo
	display grid
	justify-content center
	align-items center
	height 15rem
	a
		display block
		height 11rem
		text-align center
	img
		max-width 30rem
.header_nav
	padding 0 2rem
	max-height 2rem
	a
		font-family font_one
		font-size font_size_two
		color color_one
		margin-right 3rem
.search
	padding 2rem
	padding-top 0
	height 6rem
	input
		height 100%
		margin-right 3rem
		padding-left 1rem
		border none
		border-bottom .1rem solid color_one
	button
		padding 0 1rem
		height 100%
		border .1rem solid color_one
		background color_two
		color color_one
		text-transform uppercase
		font-family font_one
		font-weight 700
		&:hover, &:active
			background color_one
			color color_two