.characters {
  grid-template-columns: repeat(12, 1fr);
}
.content,
.header {
  grid-column: 2/12;
}
.character_item {
  grid-column: span 3;
}
.character_inner {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 50vh;
}
.character_card img {
  width: auto;
  height: 100%;
}
