* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  background: #0b0915;
}
.header {
  padding: 1.5rem;
}
.header h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #fff;
}
.header_logo a {
  display: block;
  height: 11rem;
}
.header_logo img {
  max-width: 30rem;
  position: relative;
  top: -4rem;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.header_nav a {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  color: #fff;
}
.characters {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
.character_inner {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  background: #130f24;
  box-shadow: 0 0 1rem 0 #313131;
}
.character_item,
.character_card {
  position: relative;
}
.character_item a,
.character_card a {
  position: relative;
}
.character_item img,
.character_card img {
  width: 100%;
}
.character_name {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(11,9,21,0.5);
  padding: 2rem;
  font-family: 'Nunito', sans-serif;
  color: #fff;
}
.character_name h2 {
  font-size: 1.7rem;
}
.character_name p {
  font-size: 1.5rem;
}
.character_card {
  margin: 0;
}
.character_card h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
  color: #fff;
}
.character_card h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  line-height: 2.5rem;
}
.character_card span {
  font-weight: 300;
}
.character_card-status {
  padding: 2rem;
}
.footer {
  width: 100%;
  margin: 2rem 0;
  text-align: center;
}
.footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1.5rem;
}
.footer h6,
.footer a {
  font-family: 'Nunito', sans-serif;
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem;
}
.Alive {
  color: #00ff4c;
}
.Dead {
  color: #fa294d;
}
.unknown {
  color: #2ec2e6;
}
.status_life {
  border: solid 0.7rem;
  border-radius: 2rem 2rem 0 0;
}
