.main {
  display: grid;
  grid-template-rows: 20rem 1fr;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
}
.content {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.content {
  grid-column: 3/11;
}
.header {
  grid-column: 2/11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: repeat(6, 1fr);
}
.header_logo {
  grid-column: 1/span 3;
  padding: 0;
  margin-top: 3rem;
}
.header h1 {
  grid-row: 2/3;
  grid-column: 1/span 3;
}
.header_nav {
  grid-row: 2/3;
  grid-column: 5/7;
}
.characters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  width: 100%;
}
.character_inner {
  width: 100%;
  margin: 0;
}
.character_inner .character_card:first-child {
  grid-column: 1/span 4;
}
.character_inner .character_card:last-child {
  grid-column: 5/span 4;
  display: flex;
  align-items: center;
}
.character_item {
  margin: 0;
}
.character_item:hover {
  animation: zoom 0.5s;
  will-change: scale;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.character_name {
  padding: 1rem;
}
.character_name h2 {
  font-size: 1.7rem;
}
.character_name p {
  font-size: 1.5rem;
}
.footer {
  grid-row: 3;
  grid-column: 2/12;
}
@-moz-keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@-webkit-keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@-o-keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
