@import './components/_var.styl'
@import './components/_global.styl'
@import './components/_grid.styl'
@import './components/_header.styl'
@import './components/_home.styl'
@import './components/_detailsPoke.styl'
@import './components/_colorsCard.styl'
details {
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    margin-bottom: .5em;
}