.pokemon_item
	position relative
	box-shadow 0 0 11px 4px rgba(136,136,136,26%)
	h3
		position absolute
		background color_one
		padding  .5rem 1rem
		font-family: font_one
		font-size font_size_one
		color color_two
		z-index 1
    a
		position relative
	img
		width 100%
.pokemon_name
	position absolute
	right 0
	bottom 0
	left 0
	background alpha(color_one, .5)
	padding 1rem 2rem
	font-family font_one
	color color_two
	h2
		font-size font_size_one
		&:first-letter
			text-transform uppercase
	p
		font-size font_size_two