color_one = #ef5350
color_two = #fff
color_darck = #000
font_one = 'Nunito', sans-serif
font_size_one = 1.7rem
font_size_two = 1.5rem
font_size_big = 3rem
flex_between()
    display flex
    justify-content space-between
    align-items center
flex_center()
    display flex
    justify-content center
    align-items center